@using System;
@using System.Web;
@using System.Web.Mvc;
@using System.Linq;
@using System.Collections.Generic
@using Kendo.Mvc.UI
@using BOiL.Models
@{ ViewBag.Title = "BOiL Grid"; }

<div class="row" style="margin-top: 40px; height: 50px">
    <div class="col-md-1">
        <input type="button" id="addButton" value="Add" />
    </div>
    <div class="col-md-1">
        <input type="button" id="processButton" value="Process" />
    </div>
</div>

<div class="row" id="mainGridDiv" style="margin-top: 10px;">
    <div class="col-md-12">
        @(Html.Kendo().Grid<MainGridViewModel>()
            .Name("mainGrid")
            .Columns(columns =>
            {
                columns.Bound(p => p.Id);
                columns.Bound(p => p.Name);
                columns.Bound(p => p.Duration);
                columns.Bound(p => p.StartDate).Format("{0:MM/dd/yyyy}").Hidden(true);
                columns.Bound(p => p.EndDate).Format("{0:MM/dd/yyyy}").Hidden(true);
                columns.Bound(p => p.Predecessors);

            })
            .Editable(e=>e.Mode(GridEditMode.InCell))
            .Events(e =>e.BeforeEdit("onGridEdit"))
            .Scrollable()
            .HtmlAttributes(new { style = "height:550px;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .Events(events => events.Error("error_handler"))
                .Model(model => { model.Id(p => p.Id);
                })
                .Read(update => update.Action("ReadNothing", "Home"))
                .Create(update => update.Action("ProcessMainGrid", "Home"))
            )
        )
    </div>
</div>
<div class="row" id="cpmGridDiv" style="margin-top: 10px;visibility:hidden;">
    <div class="col-md-12">
        @(Html.Kendo().Grid<MainGridViewModel>()
            .Name("cpmGrid")
            .AutoBind(false)
            .Columns(columns =>
            {
                columns.Bound(p => p.Id);
                columns.Bound(p => p.Name);
                columns.Bound(p => p.Duration);
                columns.Bound(p => p.Predecessors);
                columns.Bound(p => p.Est);
                columns.Bound(p => p.Eet);
                columns.Bound(p => p.Lst);
                columns.Bound(p => p.Let);

            })
            .Scrollable()
            .HtmlAttributes(new { style = "height:550px;" })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Batch(true)
                .Events(events => events.Error("error_handler"))
                .Model(model => { model.Id(p => p.Id);
                })
                .Read(update => update.Action("GetCPMGrid", "Home"))
            )
        )
    </div>

</div>
<div id="criticalPathText" style="visibility:hidden">
    <h1>Critical Path</h1>
</div>
<div id="critialPath">

</div>

<div id="graphText" style="visibility:hidden">
    <h1>Graph</h1>
</div>
<div id="graph">

</div>

<script src="~/Scripts/Home/mainGrid.js"></script>

<script type="text/javascript" src="~/vis/vis-network.min.js"></script>

<style type="text/css">
    #critialPath {
        width: 1200px;
        height: 400px;
        border: 1px solid lightgray;
    }

    #graph {
        width: 1200px;
        height: 400px;
        border: 1px solid lightgray;
    }
</style>